@(user: models.users.User)
@main("Booking", user){
<div class="row">

	<div class="col-md-3">

	</div>

	<div class="col-md-9">



		<div class="row">

			<h1> Film times - Marblecinema</h1>

			<section class="regular slider">
				<div class="cwel">
					<h1>Tuesday</h1>
					<h1>22</h1>
					<h1>November</h1>

				</div>
				<div class="cwel">
					<h1>Wednesday</h1>
					<h1>23</h1>
					<h1>November</h1>
				</div>
				<div class="cwel">
					<h1>Thursday</h1>
					<h1>24</h1>
					<h1>November</h1>
				</div>
				<div class="cwel">
					<h1>Friday</h1>
					<h1>25</h1>
					<h1>November</h1>
				</div>
				<div class="cwel">
					<h1>Saturday</h1>
					<h1>26</h1>
					<h1>November</h1>
				</div>
				<div class="cwel">
					<h1>Sunday</h1>
					<h1>27</h1>
					<h1>November</h1>
				</div>
				<div class="cwel">
					<h1>Monday</h1>
					<h1>28</h1>
					<h1>November</h1>
				</div>
				<div class="cwel">
					<h1>Tuesday</h1>
					<h1>29</h1>
					<h1>November</h1>
				</div>
				<div class="cwel">
					<h1>Wednesday</h1>
					<h1>30</h1>
					<h1>November</h1>
				</div>
			</section>

			<div class="well">
				<h3>Movies playing on selected day</h3>
			</div>

		</div>

	</div>

</div>
}
