@(user: models.users.User)
@main("Contact", user){
<div class="row">

    <div class="hero-unit" style="text-align: center;">
        <h1>Contact us -> Find us!</h1>

    </div>

    <section class="col-md-6">
        <div class="well">
            <form>

                <div class="form-group">
                    <label style="font-size: 25px;"><span class="glyphicon glyphicon-phone"></span>Call us +353 43 314 543</label>
                </div>


                <div class="form-group">
                    <label><span class="glyphicon glyphicon-user"></span>Full Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Your name here">
                </div>

                <div class="form-group">
                    <label><span class="glyphicon glyphicon-envelope"></span>Email</label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="Your email here">
                </div>

                <div class="form-group">
                    <label><span class="glyphicon glyphicon-question-sign"></span>Subject</label>
                    <input type="text" class="form-control" id="inputSubject" placeholder="Enter subject here">
                </div>

                <div class="form-group">
                    <label><span class="glyphicon glyphicon-pencil"></span>Message</label>
                    <textarea rows='6' class="form-control" placeholder="Enter your message here"></textarea>
                </div>



                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Send message</button>
                    </div>
                </div>


            </form>
    </section>


    <section class="col-md-6">
        <div class="well">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152515.2533357805!2d-6.385785815734833!3d53.324443138009634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e80ea27ac2f%3A0xa00c7a9973171a0!2sDublin!5e0!3m2!1sen!2sie!4v1479423054186"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </section>


    </div>
</div>


}
