@(user: models.users.User)
@main("Girl on the train", user){
<div class="row">

    <div class="col-md-3">
        <div class="list-group">
        </div>
    </div>

    <div class="col-md-6">
        <div class="page-header">
            <h1>Girl on the Train</h1>
        </div>
        <span class="label label-info lb-lg">Genre: Drama</span>
        <span class="label label-danger">Age: 15A</span>
        <span class="label label-success">Length: 112 Minutes</span>
        <br>
        <br>
        <div class="tophalf">
            <p>A divorcee becomes entangled in a missing persons investigation that promises to send shockwaves throughout her
                life.</p>
        </div>
        <br>
        <div class="trailer">
            <a href="https://www.youtube.com/watch?v=KkoEE1i0CX8"><img src="@routes.Assets.versioned("images/watch_trailer.png")" alt="click me!" />></a>
        </div>


        <div class="datesofshowing">

            <h1>Available Times</h1>

            <div class="row">
                <div class="col-md-9">
                    <div class="well">SUNDAY, NOVEMBER 13 2016</div>
                    <button onclick="location.href='Booking.html'" type="button" class="btn btn-info btn-lg">10:50</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-9">

                    <div class="well"> MONDAY, NOVEMBER 14 2016</div>
                    <button onclick="location.href='Booking.html'" type="button" class="btn btn-info btn-lg">12:50</button>
                    <button onclick="location.href='Booking.html'" type="button" class="btn btn-info btn-lg">14:30</button>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-3">
        <img style="height:394px; width:253px; border: 4px solid black" src="@routes.Assets.versioned("images/movies/GOTT2.jpg")" alt="Girl on the Train">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Director</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">Tate Taylor</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Starring</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">Haley Bennett, Emily Blunt, Rebecca Ferguson</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Released</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">05/10/2016</div>
                </div>
            </div>
        </div>
    </div>
</div>
}
