@import helper._
@(addUserForm: Form[models.users.User], user: models.users.User)
@main("Sign up", user){

    <div class="form-title-row">
        <h1>Sign Up</h1>
    </div>
    @form(action = routes.HomeController.addUserSubmit(), 'class -> "form-horizontal", 'role->"form") {

        <div class="form-row">
            <label>
                <span>Email</span>
                @inputText(addUserForm("name"), '_label -> "name",'class -> "form-control")
                @*<input type="password" name="password">*@
            </label>
        </div>

    <div class="form-row">
        <label>
            @inputText(addUserForm("email"), '_label -> "email",'class -> "form-control")
                    @*<input type="text" name="name">*@
                </label>
    </div>

    <div class="form-row">
        <label>
            @inputText(addUserForm("password"), '_label -> "password",'class -> "form-control")
            @*<input type="password" name="password">*@
                </label>
    </div>

        <div class="form-row">
            <label>
                @inputText(addUserForm("role"), '_label -> "Role",'class -> "form-control")
                @*<input type="password" name="password">*@
            </label>
        </div>





        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="@routes.LoginController.login()"><button class="btn btn-warning">Cancel</button>
            </a>
        </div>

    <p style="text-align:center;">Already have an account? <a href="form-login.html"> Sign In Here </a>
    }
}
